<div class="row">
    <div class="col-md-4 p-4" *ngFor="let file of files">
        <div class="card card-file" (click)="selectedCard(file._id)">
            <div class="card-header">
                {{file.title}}
                <hr>
            </div>
            <div class="card-header">
                {{file.nombre}}
            </div>
            <img [src]="'http://localhost:4000/' + file.archivoPath" class="img-card-top w-100">
            <div class="card-body">
                {{file.description}}
            </div>

        </div>

    </div>
</div>